
@{
    ViewBag.Title = "HalamanTerimaKasih";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Peserta TestTime</title>
    <link rel="icon" type="asset/image/png" href="asset/img/penting.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <center> <h1 class="perat">PENUTUP</h1> </center> <br />
                    
                        <li>Terima kasih atas partisipasi Anda</li>
                        <br />
                        <li>telah mengikuti rangkaian Tes ini</li>
                        <br />
                        <li>Selamat dan Sukses</li>
                        <br />

                   
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-10">
                        @Html.ActionLink("Logout", "Login", "peserta_jawaban_detail")
                    </div>
                </div>
            </div>
        </section>

    }
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/js/plugins/bootstrap/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/js/plugins/icheck/icheck.js"></script>


    @*@model IEnumerable<WebPakeApi.Models.ASPEK>


<table id="orderItems">

	@foreach (var item in Model)
	{
		<tr>
			<td>Nama Aspek :</td>
			<td><b>@item.NAMA_ASPEK</b></td>
			@foreach (var item1 in item.SUB_ASPEK)
			{
			<tr><td>@item1.NAMA_SUBASPEK</td></tr>
			<td><input name="NILAI_K_A" type="text" id="nilaika-@item1.ID_SUB" placeholder="nilai..." />&nbsp;</td>
			<td><input name="NILAI_K_B" type="text" id="nilaikb-@item1.ID_SUB" placeholder="nilai..." /></td>
			  }
			</tr>

		}

</table><br />
	<button id="submit" value="Simpan">SIMPAN</button>

<div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

@*<script type="text/javascript">

	$(document).ready(function () {
		var orderItems = [];
		
			//validation of order
			var isAllValid = true;

			$('#submit').click(function () {
				console.log("tes");
				var jml = $("input[id^='nilaika']").length;
				var nilaika = [];
				var idsubaspek = [];
				console.log(jml);
				$.each($("input[id^='nilaika']"), function (index, row) {
					nilaika.push($(row).val());
					var id = $(row).attr("id").substring(8);
					idsubaspek.push(id);
				});
				console.log(nilaika);

				console.log("tes");
				var jmlh = $("input[id^='nilaikb']").length;
				var nilaikb = [];
				console.log(jmlh);
				$.each($("input[id^='nilaikb']"), function (index, row) {
					nilaikb.push($(row).val());

				});
				console.log(nilaikb);

				//Save if valid
				if (isAllValid) {
					var data = {
						idkaryawan: 10,
						idsubaspeks: idsubaspek.join(),
						nilaikas: nilaika.join(),
						nilaikbs: nilaikb.join()
					}

					$(this).val('Please wait...');

					$.ajax({
						url: '/Rapor/Simpan',
						type: "POST",
						data: JSON.stringify(data),
						dataType: "JSON",
						contentType: "application/json",
						success: function (d) {
							//check is successfully save to database
							if (d.status == true) {
								//will send status from server side
								alert('Successfully done.');
							}
							else {
								alert('Failed');
							}
						},
						error: function () {
							alert('Error. Please try again.');
							
                        }
					});
				}

			});
		
	});
</script>*@
</body>
</html>

